@{
    ViewData["Title"] = "Landing Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">

            <div class="col-4">
                <img src="~/css/landing-image.png" width="360" height="500">
            </div>

            <div class="col-8 text-start">
                <h1>PRACTICE WITHOUT RISK</h1>

                <p>Have you ever thought to yourself:</p>
                <ul>
                    <li>That trade was such a bad idea.</li>
                    <li>I lose confidence when trading larger amounts than I'm used to.</li>
                    <li>I'm interested in leveraged trades, but I fear the risk it brings along.</li>
                    <li>I wish there was a way to practice without losing money.</li>
                </ul>
                <p>
                    If you answered <strong>Yes</strong> to any of these questions, then consider joining <strong>Cryptocurrency Investment Simulator</strong>.
                </p>
                <p>
                    We offer a <strong>risk-free</strong> investment simulator with multiple <strong>leverage options</strong> and up to <strong>5 real-time cryptocurrency charts</strong>.
                </p>

                <a id="become" class="nav-link" asp-controller="Authentication" asp-action="Register">Become an investor</a>
            </div>

        </div>
    </div>
</div>