@using CryptoInvestmentSimulator.Constants
@using CryptoInvestmentSimulator.Database
@using System.Security.Claims
@{
    if (User.Identity == null)
    {
        throw new ArgumentNullException(nameof(User.Identity));
    }

    var email = User.FindFirst(c => c.Type == ClaimTypes.Email)?.Value;
    var isVerified = false;

    if (email == null || email == "")
    {
        isVerified = false;
    }
    else
    {
        var context = new DatabaseContext(DatabaseConstants.Access);
        var procedure = new UserProcedures(context);
        isVerified = procedure.IsUserVerified(email);
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Custom overriding CSS-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CryptoInvestmentSimulator.styles.css" asp-append-version="true" />

    <!-- jQuery and Bootstrap Bundle (with Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <h1 class="navbar-brand">CryptoInvestmentSimulator</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item"><a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a></li>

                            <li class="nav-item"><a class="nav-link text-dark" asp-controller="Portfolio" asp-action="Index">Portfolio</a></li>

                            @if (isVerified)
                            {
                                <li class="nav-item"><a class="nav-link text-dark" asp-controller="Market" asp-action="Index">Market</a></li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-danger" data-toggle="tooltip" data-placement="bottom" title="Verify your email!">Market</a>
                                </li>
                            }

                            <li class="nav-item"><a class="nav-link text-dark" asp-controller="Authentication" asp-action="Logout">Logout</a></li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link text-dark" asp-controller="Authentication" asp-action="Login">Login</a></li>
                        }                 
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">@RenderBody()</main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">Jekabs Ilkens (ji20011) | Qualification project | University of Latvia | 2022 - 2023</div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
