
@{
    ViewData["Title"] = "CIS System Error";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">

                <h1 id="unverifiedHelp">CIS ENCOUNTERED AN ERROR!</h1>

                <p>
                    Something went wrong while processing your request... <br/>
                    We apolagise for this inconvenience. If problem still persists please contact CIS support: jekabs4442@gmail.com
                </p>

                <a id="unverifiedHelp" class="nav-link" asp-controller="Home" asp-action="Index">Return home</a>

            </div>
        </div>
    </div>
</div>