html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #242D38;
    color: #FFFFFF;
}

div.text-center {
    background-color: #191E28;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #0e1216;
    padding: 20px;
    margin: 50px;
}

nav.navbar {
    background-color: #191E28 !important;
    box-shadow: 0px 10px 15px #0e1216;
}

footer.footer {
    background-color: #191E28 !important;
    box-shadow: 0px -10px 15px #0e1216;
}

a.nav-link {
    color: #FFFFFF;
}

a.nav-link:hover {
    color: #7AB662;
}

#become {
    width: 50%;
    display: inline-block;
    align-content: center;
    font-weight: 600;
    border-radius: 5px;
    background-color: #7AB662;
    font-size: 18px;
    text-align: center;
}

#become:hover {
    color: #FFFFFF;
}

strong {
    color: #7AB662;
}

div.text-start{
    text-align: left;
    padding-left: 90px;
}
