
<!-- Username creation modal (pop-up) for new users -->
<div class="modal fade" id="usernameCreationModal" tabindex="-1" role="dialog" aria-labelledby="usernameCreationModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <!-- Sends form data to SetUsername method in Home Controller -->
            <form id="createForm" method="post" asp-controller="Home" asp-action="SetUsername">
                <div class="modal-header">
                    <h5 class="modal-title" id="usernameCreationModalLongTitle">What should we call you?</h5>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Username</label>
                        <input id="username" type="text" class="form-control" required="required" name="username" />
                        <p id="usernameError"></p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="saveUsername" type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>