@using CryptoInvestmentSimulator.Models.ViewModels;
@model UserModel

@{
    ViewData["Title"] = "Home Page";

    // Displays username creation modal (pop-up).
    // Only for new users with default username.
    if (Model.Username == "NewUser"){
        await Html.RenderPartialAsync("_SetUsername");
    }
}

<script src="~/js/pages/home.js"></script>

<div class="text-center">
    <h1 class="display-4">The Home Page</h1>
    <p>To be continued...</p>
</div>
