@using CryptoInvestmentSimulator.Constants
@using CryptoInvestmentSimulator.Controllers
@using System.Security.Claims
@using CryptoInvestmentSimulator.Database
@{
    ViewData["Title"] = "Home Page";

    var email = User.FindFirst(c => c.Type == ClaimTypes.Email)?.Value;
    var context = new DatabaseContext(DatabaseConstants.Access);
    var procedure = new UserProcedures(context);
    var user = procedure.GetSpecificUser(email);
}

<script type="text/javascript">
    function hideUsernameModal(){
        $('#exampleModalCenter').modal('hide');
    }
    
    $(document).ready(function () {
        $('#exampleModalCenter').modal('show');
        document.getElementById("saveUsername").addEventListener("click", hideUsernameModal);
    });
</script>

@{
    if (user.Username == "TestName"){
        await Html.RenderPartialAsync("_SetUsername");
    }
}

<div class="text-center">
    <h1 class="display-4">The Home Page</h1>
    <p>To be continued...</p>
</div>
