body, html {
	height: 100%;
	background-color: #191f28;
}
    
label {
	color: #7bb762;
}
    
input[type=text],
input[type=email],
input[type=password] {
	border: none;
	border-bottom: 2px solid white;
	background-color: transparent;
	color: white;
}
    
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {   
	border-color: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px white;
	outline: 0 none;
}

.login-container {
	position: relative;
	height: 100%;
	background-color: #252d38;
}

.login-box {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 15px;
	background-color: #252d38;
	box-shadow: 0px 20px 20px #0a0d13;
	border-radius: 5px;
	border-top: 1px solid #76b060;
}
    
div.login-header h3, div.login-header h4 {
	color: white;
}
    
#name-field, #surname-field, #birthdate-field {
	display: none;
}
    
#btn-login, #btn-signup, #btn-google {
	border: none;
	color: white;
	font-weight: bold;
	background-color: #76b060;
}
    
#switch-to-login, #switch-to-signup {
	border: none;
	color: #191f28;
	font-weight: bold;
	background-color: white;
}
    
#btn-signup, #switch-to-login {
	display: none;
}

.login-header {
	text-align: center;
}

.login-header img {
	width: 150px;
	height: 100px;
}

#error-message {
	display: none;
	white-space: break-spaces;
}