
<script>

	// Function for adjusting date times to users time zone.
	function addHours(hourChange, date = new Date()) {
		date.setTime(date.getTime() + hourChange * 60 * 60 * 1000);

		return date;
	}

	var timeZoneChange = @Html.Raw(Json.Serialize(ViewBag.TimeZoneChange));

	// Collects time and price point arrays from ViewBag.
	// Converts them into JavaScript compatible arrays.
	// Generates new chart by using timeArray as x and priceArray as y.

	var prices = @Html.Raw(Json.Serialize(ViewBag.PricePoints));
	var priceArray = [];
	for (var i = 0; i < 60; i++) {
		priceArray[i] = prices[i];
	}

	var times = @Html.Raw(Json.Serialize(ViewBag.TimePoints));
	var timeArray = [];
	for (var i = 0; i < 60; i++) {
		let date = new Date(times[i]);
		addHours(timeZoneChange, date);
		timeArray[i] = date.toLocaleTimeString();
	}

	var ctx = document.getElementById("chart8h");

	new Chart(ctx, {
		type: 'line',
		data: {
			labels: timeArray,
			datasets: [{
				label: 'Euro',
				data: priceArray,
				borderColor: '#7AB662',
				borderWidth: 2,
				tension: 0.2
			}]
		},
		options: {
			animation: {
				duration: 0
			},
			plugins: {
				legend: {
					display: false
				}
			},
			scales: {
				x: {
					grid: {
						color: '#252A33',
						borderColor: '#252A33'
					}
				},
				y: {
					grid: {
						color: '#252A33',
						borderColor: '#252A33'
					}
				}
			}
		}
	});
</script>

<!-- Display area for generated chart canvas. -->
<div><canvas id="chart8h"></canvas></div>
