@{
	ViewData["Title"] = "ADA/EUR";
}

@section Scripts 
{
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="~/js/charts/chart_switch.js"></script>
	<script src="~/js/charts/ada_frames.js"></script>
	<script src="~/js/leverage_ratios.js"></script>
	<script src="~/js/position_form.js"></script>
}

<div class="text-center">

	<h1 class="display-4">Cardano / Euro</h1>

		<!-- Buttons for switching chart time frames. -->
		<button id="1h" type="button" class="btn btn-info">1H</button>
		<button id="4h" type="button" class="btn btn-success">4H</button>
		<button id="8h" type="button" class="btn btn-warning">8H</button>
		<button id="24h" type="button" class="btn btn-danger">24H</button>

		<!-- Designated containers for each time frame chart. -->
		<div id="chartZone1h"></div>
		<div id="chartZone4h"></div>
		<div id="chartZone8h"></div>
		<div id="chartZone24h"></div>

		<form id="buyForm" method="post" asp-controller="Market" asp-action="OpenCardanoPosition">

			<div class="form-group" style="border-top: solid 2px dimgrey; margin-top: 20px; padding-top: 20px;">
				<div class="row">
					<div class="col-6">
						<label>Amount (EUR)</label>
						<input id="receivedEuro" type="number" class="form-control" required="required" step='0.01' placeholder="0.00" value="" name="euroAmount" />
						<p id="buyAmountError"></p>

						<!-- Field value gets calculated automaticaly by JS depending on enteren euro amount. -->
						<label>Amount (ADA)</label>
						<input id="convertedCrypto" type="text" class="form-control" placeholder="0.000000" name="cryptoAmount" readonly />
					</div>
					<div class="col-6">
						<label for="leverage-ratio-select">Leverage</label>
						<select id="leverage-ratio-select" type="text" class="form-control" name="leverageRatio"></select>

						<!-- Field value gets calculated automaticaly by JS depending on enteren euro amount and selected leverage. -->
						<label>Margin (EUR)</label>
						<input id="calculatedMargin" type="text" class="form-control" placeholder="0.00" name="marginAmount" readonly />
					</div>
				</div>
			</div>

			<!-- Displays error message if OpenBitcoinPosition returned error in view bag. -->
			@if (ViewBag.Error != null)
			{
				<div><p>@ViewBag.Error</p></div>
			}

			<button id="buy" type="submit" class="btn btn-success">BUY</button>
		</form>

	<!-- Navigates user back to market page. -->
	<a class="text-danger" asp-controller="Market" asp-action="Index">Back</a>

	<!-- Container where positions table partial view gets loaded. -->
	<div id="activePositionZone"></div>

</div>
