@{
	ViewData["Title"] = "ADA/EUR";
}

@section Scripts 
{
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="~/js/chart_switch.js"></script>
	<script src="~/js/ada_frames.js"></script>
}

<div class="text-center">

	<h1 class="display-4">Cardano / Euro</h1>

		<button id="1h" type="button" class="btn btn-info">1H</button>
		<button id="4h" type="button" class="btn btn-success">4H</button>
		<button id="8h" type="button" class="btn btn-warning">8H</button>
		<button id="24h" type="button" class="btn btn-danger">24H</button>

		<div id="chartZone1h"></div>
		<div id="chartZone4h"></div>
		<div id="chartZone8h"></div>
		<div id="chartZone24h"></div>

	<a class="text-danger" asp-controller="Market" asp-action="Index">Back</a>

</div>
