@{
	ViewData["Title"] = "ETH/EUR";
}

@section Scripts 
{
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="~/js/charts/chart_switch.js"></script>
	<script src="~/js/charts/eth_frames.js"></script>
	<script src="~/js/leverage_ratios.js"></script>
	<script src="~/js/position_form.js"></script>
}

<div id="chart-container" class="text-center">

		<!-- Buttons for switching chart time frames. -->
		<button style="background-color: #7ab662" id="1h" type="button" class="btn">1H</button>
		<button style="background-color: #a4975d" id="4h" type="button" class="btn">4H</button>
		<button style="background-color: #d67056" id="8h" type="button" class="btn">8H</button>
		<button style="background-color: #ff5050" id="24h" type="button" class="btn">24H</button>

		<!-- Designated containers for each time frame chart. -->
		<div id="chartZone1h"></div>
		<div id="chartZone4h"></div>
		<div id="chartZone8h"></div>
		<div id="chartZone24h"></div>

</div>

<div class="text-center">
	<form id="buyForm" method="post" asp-controller="Market" asp-action="OpenEtheriumPosition">

		<div class="form-group">
			<div class="row">
				<div class="col-6">
					<label>Amount (EUR)</label>
					<input id="receivedEuro" type="number" class="form-control" required="required" step='0.01' placeholder="0.00" value="" name="euroAmount" />
					<p id="buyAmountError"></p>

					<label>Amount (ETH)</label>
					<input id="convertedCrypto" type="text" class="form-control" placeholder="0.000000" name="cryptoAmount" readonly />
				</div>
				<div class="col-6">
					<label for="leverage-ratio-select">Leverage</label>
					<select id="leverage-ratio-select" type="text" class="form-control" name="leverageRatio"></select>

					<label>Margin (EUR)</label>
					<input id="calculatedMargin" type="number" class="form-control" step='0.01' placeholder="0.00" name="marginAmount" readonly />
				</div>
			</div>
		</div>

		@if (ViewBag.Error != null)
		{
			<div><p id="poorBalanceError">@ViewBag.Error</p></div>
		}

		<button id="buy" type="submit" class="btn btn-success">Buy</button>
	</form>
</div>

<div class="text-center">
	<!-- Container where positions table partial view gets loaded. -->
	<div id="activePositionZone"></div>
</div>
