@{
	ViewData["Title"] = "ETH/EUR";
}

@section Scripts 
{
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		$('#chartZone').load("/Market/ChartETH")
		setInterval(function () { $('#chartZone').load("/Market/ChartETH") }, 60000);
	</script>
}

<div class="text-center">

	<h1 class="display-4">Etherium / Euro</h1>

	<div id="chartZone"></div>

	<a class="text-danger" asp-controller="Market" asp-action="Index">Back</a>

</div>