@using CryptoInvestmentSimulator.Models.ViewModels
@model List<MarketDataModel>;
@{
	ViewData["Title"] = "Market Page";
}
@section Scripts
{
	<script src="~/js/market.js"></script>
}

<div class="text-center">

	<h1 class="display-4">Try to request a response!</h1>

	<div id="tableZone"></div>

</div>
