@using CryptoInvestmentSimulator.Models.ViewModels
@model List<MarketDataModel>;
@{
	ViewData["Title"] = "Market Page";
}
@section Scripts
{
	<script src="~/js/pages/market.js"></script>
}

<div class="text-center">

	<!-- Designated container for market data table. -->
	<div id="tableZone"></div>

</div>
