@using CryptoInvestmentSimulator.Helpers;
@{
    // Generates a random alphanumeric key to be displayed above input form.
    var actualKey = ConfidenceHelper.GetRandomKey(8);
}

<!-- Portfolio reset modal (pop-up form). -->
<div class="modal fade" id="resetPortfolioModal" tabindex="-1" role="dialog" aria-labelledby="resetPortfolioModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <!-- Posts to PortfolioController/ResetPortfolio to begin reset process. -->
            <form id="resetForm" method="post" asp-controller="Portfolio" asp-action="ResetPortfolio">
                <div class="modal-header">
                    <h5 class="modal-title" id="resetPortfolioModalLongTitle">Confirm portfolio reset:</h5>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Repeat the following key to confirm reset!</label>

                        <input id="actualKey" type="text" class="form-control" required="required" value="@actualKey" readonly />
                        <input id="receivedKey" type="text" class="form-control" required="required" value="" />

                        <p id="resetError"></p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="cancelReset" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="confirm" type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
