
<!-- User detail editing modal (pop-up form). -->
<div class="modal fade" id="editDetailsModal" tabindex="-1" role="dialog" aria-labelledby="editDetailsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <!-- Posts to PortfolioController/UpdateDetails to begin update process. -->
            <form id="editForm" method="post" asp-controller="Portfolio" asp-action="UpdateDetails">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDetailsModalLongTitle">Change your profile details:</h5>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>New username</label>
                        <input id="username" type="text" class="form-control" required="required" value="@Model.Username" name="username" />
                        <p id="usernameError"></p>

                        <label for="time-zone-select">New time zone</label>
                        <select id="time-zone-select" type="text" class="form-control" name="timezone"></select>

                        <label>New avatar url</label>
                        <input id="avatar" type="text" class="form-control" required="required" value="@Model.Avatar" name="avatar" />
                        <p id="avatarError"></p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="cancelEdit" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="save" type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
